/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-color: #181818;
    background-image: url(background.gif);
    background-blend-mode:color-dodge;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 36px;
    text-shadow: 1px 3px 2px #007bff84;
    color: darkorange;
    background: #000000ba;
}

.content {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: rgb(55, 200, 26);
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    padding: 15px;
    background: #000000ba;
    margin: 0;
}

footer {
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

/* Navigation Bar */
nav {
    background-color: #ffffff; 
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; 
    padding: 10px 0; 
    text-align: center; /* Center the items on mobile */
}

.navbar li {
    display: block; /* Make list items stack vertically on mobile */
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block; /* Make links take up full width on mobile */
    padding: 10px; /* Add some padding for touch targets on mobile */
}

.navbar a:hover {
    color: darkorange;
}
